.fullWidthGallery {
  margin-left: -1.25rem;
  width: calc(100% + 2.5rem);
}

@media (min-width: 640px) and (max-width: 1023px) {
  .fullWidthGallery {
    margin-left: -2rem;
    width: calc(100% + 4rem);
  }
}

@media (min-width: 1024px) {
  .fullWidthGallery {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
  }
}
